{% for event in events %}
<tr>
    <td>{{ event.title }}</td>
    <td>{{ event.description }}</td>
    <td>{{ event.location }}</td>
    <td>{{ event.date }}</td>
    <td>{{ event.time }}</td>
    <td>{{ event.organizer }}</td>
    <td>
        {% if event.banner %}
            <img src="{{ event.banner.url }}" alt="{{ event.title }}" style="width: 50px; height: 50px;">
        {% else %}
            <span class="text-muted">No Image</span>
        {% endif %}
    </td>
      <td>{{ event.status }}</td>

      <!-- edit -->
       <td>
        <button class="icon-btn edit-btn" title="Edit"
                data-id="{{ event.id }}"
                data-title="{{ event.title }}"
                data-description="{{ event.description }}"
                data-location="{{ event.location }}"
                data-date="{{ event.date }}"
                data-time="{{ event.time }}"
                data-organizer="{{ event.organizer }}"
                {% if event.banner %}
                    data-banner="{{ event.banner.url }}"
                {% else %}
                    data-banner="" 
                {% endif %}    
                data-status="{{ event.status }}"> 
        <i class="fas fa-pen text-primary"></i>
        </button>
</td>

</tr>
{% empty %}
<tr>
    <td colspan="4" class="text-center">No streams available.</td>
</tr>
{% endfor %}



